body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.kop-surat .img-kop-surat{
  text-align: center;
}

.kop-surat .title-kop-surat{
    font-size: 16px;
    margin-left: 40px;

}

.kop-surat .title-kop-surat .kampus{
    margin-bottom: -15px;
    text-align: center;
}

.kop-surat .title-kop-surat .jurusan{
    text-align: center;
    margin-bottom: -10px;
}

.kop-surat .title-kop-surat .alamat{
    text-align: center;
}

.garis-horizontal{
    border-top: 2px solid black;
    width: 100%;
    margin-top: 10px;
}

.body-surat{
    margin-top: 10px;
    font-size: 15px;
}

.judul-surat{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}


table{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.isi-surat table{
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid black;
}

table thead {
    background-color: #f16d2b;
    border: 2px solid black;
}

table thead tr th{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

table tbody tr td{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

