body span{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.thead-sticky{
  position: sticky;
  top: 0;
}

tbody {
  border-radius: 10px;
  overflow: hidden;
}

th,td{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
}

